<div class="container">

	<!-- Page header -->
	<div class="page-header">
		<h2><%= @title="Come aboard"%>	</h2>
	</div>
	<!-- End of Page Header -->


	<!-- Page Content Row-->
	<div class="row">
		<!-- Start of Span8 -->
		<div class="span8">
			<div class="well">
				
				
			
				
					  
		
				
			<%= form_for("user", :url => user_session_path) do |f| %>
					<fieldset>
						<div id="legend">
							<legend class="">Sign in</legend>
						</div>
						<div class="control-group">
							<!-- Username -->
							<label class="control-label"  for="email">Email</label>
							<div class="controls">
								<%= f.text_field :email, :class=>"input-xlarge"%>
							</div>
						</div>


						<div class="control-group">
							<!-- Password-->
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<%= f.password_field :password, :class=>"input-xlarge" %>
							</div>
						</div>

	

						<div class="control-group">
							<!-- Button -->
							<div class="controls">
								<%= f.submit 'Sign in', :class=>"btn btn-success" %>
							</div>
						</div>
					</fieldset>
				<% end %>
			</div>
		</div>
		<!-- End of Span8 -->
		
		<!-- Start of Span4-->
		<div class ="span4">
			<div class="well">
				<div id="legend">
					<legend class="">Sign up</legend>
				</div>
				<a href="/users/auth/twitter" class="zocial twitter">Sign up with Twitter</a>
				</div>
			</div>
			<!-- End of Span4-->
	</div>
	<!-- End of Page Content Row-->
