
<% @twitter_results.results.each do |s|%>
	<%if params[:exclude].empty? == true%>
		<li>			
			<div class="<%= cycle("tweetOne","tweetTwo","tweetThree") %>">

				<span style="padding:10px"><b><u> <%=s.from_user%>:</u></b></span>

				<%= link_to "http://twitter.com/#{s.from_user}",:target => "_blank" do %>
				<%= image_tag(s.profile_image_url, :size=>"50x50", :class=>"img-circle", :style=>"float:left") %>
				<% end %>

				<br \>
				&nbsp;&nbsp;
				<%=cust_link_twitter(s.text)%>

			</div>
			<i class="icon-twitter"></i>
			<div class="pull-right">By: <u><%= link_to s.from_user,"http://twitter.com/#{s.from_user}", :target => "_blank" %></u></div>
		</li>
		
	<%else%>
		<% if s.text.include?(params[:exclude])%>
			<!--Skip the content. not needed. -->
		<%else%>
			<li>			
				<div class="<%= cycle("tweetOne","tweetTwo","tweetThree") %>">

					<span style="padding:10px"><b><u> <%=s.from_user%>:</u></b></span>

					<%= link_to "http://twitter.com/#{s.from_user}",:target => "_blank" do %>
					<%= image_tag(s.profile_image_url, :size=>"50x50", :class=>"img-circle", :style=>"float:left") %>
					<% end %>

					<br \>
					&nbsp;&nbsp;
					<%=cust_link_twitter(s.text)%>

				</div>
				<i class="icon-twitter"></i>
				<div class="pull-right">By: <u><%= link_to s.from_user,"http://twitter.com/#{s.from_user}", :target => "_blank" %></u></div>
			</li>
			
	<%end%>
		<%end%>
<%end%>