<!-- Wrapping up the text in p tags. Sometimes it messes up the layout-->
<style>
.wrap {
	word-wrap: break-word;
}
a.custom:link {color: #ffffff ; font-weight: bold; text-decoration:underline;}
a.custom:visited {color: #ffffff ; font-weight: bold; text-decoration:underline;}

.custom {
	color: #fff;
	font-weight: bold; 
	text-decoration:underline;
}
</style>

<% @twitter_results.each do |s|%>
		<li>			
			<div class="<%= cycle("tweetOne","tweetTwo","tweetThree") %>">

				<span style="padding:10px"><b><u> <%=s.from_user%>:</u></b></span>

				<%= link_to "http://twitter.com/#{s.from_user}",:target => "_blank" do %>
				<%= image_tag(s.profile_image_url, :size=>"50x50", :class=>"img-circle", :style=>"float:left") %>
				<% end %>

				<br \>
				&nbsp;&nbsp;
				<%=cust_link_twitter(s.text)%>
			</div>
				<div class="row-fluid">
				  <div class="span5">
					<%="#{time_ago_in_words(s.created_at).capitalize} ago"%>
				  </div>
				  <div class="span5">
				  	<div class="pull-right">By: <u><%= link_to s.from_user,"http://twitter.com/#{s.from_user}", :target => "_blank" %></u></div>
				  </div>
			</div>
				
		</li>
<%end%>

