<style>
.input-prepend .add-on{
	color:#d9230f;
}
</style>
<!-- Setting up the title of the page based on the searched tag-->
<%@title = "Search"%>
<!--Container loads here-->
<div class="container">
	<div class="page-header">
		<h2>Start your search</h2>
	</div>
	<!-- Search form goes here. Submitting via ajax.-->
	<div class="row">
		<div class="span12">
			<div class="well">
				<%= form_tag searches_path, :method => "post", :class=>"form-inline", :name=>"extLoad",  :remote=> true  do %>
				<div class="input-prepend">
					<span class="add-on">#</span>		
					<!-- If the search is being done from, /search, form is left as it is-->	
					<% if params[:search].nil? == true%>
					<%=text_field_tag 'search', nil, :placeholder => 'Search for one keyword at a time (eg- holi, mumbai, newyork)' ,:class=>"span5"%>
				</div>
				<%=text_field_tag 'exclude', nil, :placeholder => 'Exclude results which have the term : (eg- #chicago, diwali, #HotShot)' ,:class=>"span5"%>
				<!-- If the search is being done from /home, form is set with the search value and is being submitted through the below js code.-->	
				<%else%>
				<div class="input-prepend">
					<span class="add-on">#</span>
					<%=text_field_tag 'search', nil, :value => params[:search],:class=>"span5"%>
				</div>
				<%=text_field_tag 'exclude', nil, :value => params[:exclude],:class=>"span5"%>
				<%end%> 

				<%= button_tag(:type => 'submit', :class => 'btn btn-primary' , :id => "submitLoad") do %>
				<i class="icon-search icon-large" style="color:white"></i>
				<% end %>
				<% end %>

			</div>
		</div>
	</div>

	<!-- Content for twitter and Instagram gets replaced here-->
	<div id="main" role="main">
		<ul id="tiles">
			<div class="results"></div>
		</ul>
	</div>


	<!-- TagPort loader starts here.-->		
	<div class="span3 offset4 load">
		<div id="fountainTextG_1" class="fountainTextG">T</div>
		<div id="fountainTextG_2" class="fountainTextG">a</div>
		<div id="fountainTextG_3" class="fountainTextG">g</div>
		<div id="fountainTextG_4" class="fountainTextG">P</div>
		<div id="fountainTextG_5" class="fountainTextG">o</div>
		<div id="fountainTextG_6" class="fountainTextG">r</div>
		<div id="fountainTextG_7" class="fountainTextG">t</div>

	</div>
	<!-- TagPort loader ends here.-->		



	<!-- Showing the spinner on a timeout-->
	<script>
	$("div.load").hide();

	$("#submitLoad").click(function(){
		$('div.results').empty();
		$("div.load").show();
	});

	setTimeout(function() {
		$("div.load").hide();
		}, 3000);
		</script>

		<!-- Submitting form when querying from the home page, along with the spinner firing off-->
		<% if params[:search].nil? == true%>
		<%else%>
		<script>
		$(document).ready(function () {
			$(extLoad).submit();

			$("div.load").show();

			setTimeout(function() {
				$("div.load").hide();

				}, 3000);
			});
			</script>
			<%end%>
		</div>